@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f9f9f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4e9e9;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 
@keyframes greenBorderRun {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-green-border {
  background-image: linear-gradient(
    90deg,
    #16a34a,
    #22c55e,
    #4ade80,
    #16a34a
  );
  animation: greenBorderRun 3s linear infinite;
} */


@keyframes greenBorderRun {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-green-border {
  background-image: linear-gradient(
    90deg,
    #16a34a,
    #22c55e,
    #4ade80,
    #16a34a
  );
  animation: greenBorderRun 3s linear infinite;
}


@keyframes greenShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-green-shift {
  animation: greenShift 2s ease-in-out infinite;
}
